 

<div class="container" style="width: 100%;">
     <h1>Top rated</h1>

        <div class="row">

             <% @ratings.each do |movie|%>
             
               <div class="col-md-3 col-sm-3">
                      <% if movie.title.blank?  %>
                        <% e_title = "unknown Album" %>
                     <% else %>
                        <% e_title = movie.title %>
                    <% end %>
                        <h3><%= e_title %></h3>
                        <% if movie.image.blank?  %>
                        <% e_image = "blankimage" %>
                        <% else %>
                        <% e_image = movie.image %>
                        <% end %>
                
                    <%= link_to (image_tag e_image),movie_path(movie), class: "img-responsive" %>
                    
                    
                     <div class="from-group">
                         <%= link_to 'Readmore', movie_path(movie),class: "btn btn-primary" %>
                     </div>
   
            
                </div>
              
             <%end%>
               
         </div> 
</div>         