<div class="carousel slide" id="carousel-903897">
  <ol class="carousel-indicators">
    <li class="" data-slide-to="0" data-target="#carousel-903897"></li>
    <li data-slide-to="1" data-target="#carousel-903897" class=""></li>
    <li data-slide-to="2" data-target="#carousel-903897" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item">
      <img alt="Carousel Bootstrap First" src="http://xdesktopwallpapers.com/wp-content/uploads/2012/07/Wrath%20of%20the%20Titans%20-%20Movie%20Cover%20Poster.jpg">
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item">
      <img alt="Carousel Bootstrap Second" src="http://xdesktopwallpapers.com/wp-content/uploads/2012/07/Wrath%20of%20the%20Titans%20-%20Movie%20Cover%20Poster.jpg">
      <div class="carousel-caption">
        <h4>Second Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item active">
      <img alt="Carousel Bootstrap Third" src="http://www.wallpaperbetter.com/wallpaper/171/79/789/pacific-rim-monsters-vs-robots-2K-wallpaper.jpg">
      <div class="carousel-caption">
        <h4>Third Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-903897" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-903897" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
 </div>

  <h3>
    New Movies
  </h3>
  <div class="container" style="padding-bottom: 22px;
    padding-right: 60px;    padding-left: 4px;">
   <div class="row">
     <div class="col-md-3">

        <h3 class="text-center text-info">
            Warth of the titans

        </h3>
     <img class="img-responsive" src="http://xdesktopwallpapers.com/wp-content/uploads/2012/07/Wrath%20of%20the%20Titans%20-%20Movie%20Cover%20Poster.jpg" />
     <div>
       <button type="button" class="btn btn-primary">Read more</button>
     </div>
     </div>
       <div class="col-md-3">
         <h3 class="text-center text-info">
            Warth of the titans
        </h3>

       <img class="img-responsive" src="http://xdesktopwallpapers.com/wp-content/uploads/2012/07/Wrath%20of%20the%20Titans%20-%20Movie%20Cover%20Poster.jpg" />
       <button type="button" class="btn btn-primary">Read more</button>
       
     </div>

     <div class="col-md-3">
       <h3 class="text-center text-info">
            Warth of the titans
        </h3>
     <img class="img-responsive" src="http://xdesktopwallpapers.com/wp-content/uploads/2012/07/Wrath%20of%20the%20Titans%20-%20Movie%20Cover%20Poster.jpg" />
       <button type="button" class="btn btn-primary">Read more</button>
     
     </div>
       <div class="col-md-3">
        <h3 class="text-center text-info">
            Warth of the titans
        </h3>
       <img class="img-responsive" src="http://xdesktopwallpapers.com/wp-content/uploads/2012/07/Wrath%20of%20the%20Titans%20-%20Movie%20Cover%20Poster.jpg" />
       <button type="button" class="btn btn-primary">Read more</button>
       
     </div>
    
  </div>
</div>

</div>


