<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  
  <div>
    <h1><%= f.label :Review %></h1><br>
    <i class="fa fa-user" aria-hidden="true"></i>
    <%= f.text_area :body %>
  </div>
    <%= f.submit  %>
<% end %>


